@use "./variables" as *;

.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    box-shadow: 2px 2px 50px black;
    background-color: $color-secondary;
    color: $color-default-lightgray;
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2 {
        color: $color-default-lightgray;
        text-shadow: 0 0 0.5rem black;
        padding: 2rem;
        display: flex;
        justify-content: space-around;
    }
    h3{
        color: $color-default-lightgray;
    }
    h4{
        color: $color-primary;
    }
    img {
        -webkit-box-shadow: 7px 3px 5px 1px rgba(0,0,0,0.5); 
        box-shadow: 7px 3px 5px 1px rgba(0,0,0,0.5);
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: background 0.5s ease;
    img {
        width: 30%;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-default-lightgray;
        text-shadow: 0 0 0.5rem black;
        h4 {
            color: $color-default-lightgray;
        }
    }
}

.song-description {
    padding-left: 1rem;
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.7rem;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(155,155,155,0.5);
    border-radius: 20px;
    border: transparent;
}

.selected {
    background-color: $color-primary-dark;
    h4 {
        color: $color-default-lightgray;
    }
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
    z-index: 100;
}

.close-button{
    margin-top: 7px;
    opacity: 1;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    cursor: pointer;
}

@media  screen and (max-width: 768px){
    .library {
        width: 100%;
    }
}