@use "./variables" as *;

nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: transparent;
        border: 1px solid rgb(65,65,65);
        cursor: pointer;
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover{
            background: rgb(65,65,65);
            color: $color-default-lightgray;
        }
    }
    h1 {
        padding-left: 5rem;
    }
}

@media  screen and (max-width: 768px){
    nav {
        button{
            z-index: 10;
        }
    }
}