@use "./variables" as *;

.player {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $color-secondary-dark;
}

.time-control {
    width: 50%;
    display: flex;
    align-items: center;
    input {
      width: 100%;
      -webkit-appearance: none;
      background: transparent;
      cursor: pointer;
    }
  
    p {
      color: $color-default-lightgray;
      padding: 1rem;
    }
  }

.play-control {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: $color-primary;
    svg {
        cursor: pointer;
        
    }
}

.play-control__shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
}


.track {
    width: 100%;
    height: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
  }
  .animate-track {
    background: $color-secondary;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    padding: 1rem;
    pointer-events: none;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
  }
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    background: transparent;
    border: none;
  }

  @media screen and (max-width: 768px) {
    .time-control {
      width: 90%;
    }

    .play-control {
      width: 60%;
    }
  }

  .random-repeat {
    color: $color-default-darkgray;
  }