@use "./variables" as *;

.song-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 20%;
        border-radius: 50%;
    }

    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }

    h3 {
        color: $color-primary;
        font-size: 1rem;
        padding: 0rem 1rem 1rem 1rem;
    }

    p {
        padding: 0rem 1rem 0rem 1rem;
        font-size: 0.6rem;
        color: lightgray;
    }
}