@use "./variables" as *;

@import "./song";
@import "./player";
@import "./library";
@import "./fonts";
@import "./nav";

// Removing some default stylings from every element
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
}

h3,
h4 {
    font-weight: 400;
    color: $color-primary;
}

h1,
h2,
h3 {
    color: #555555;
}

.App {
    transition: all 0.5s ease;
}

.library-active {
    margin-left: 30%;
}